.about-container{
    width: 100%;
}
.message-container{
    width: 60%;
    margin: 30px 20% 0px 20%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}
/* .about-container h1{
    font-size: 1.3em;
    letter-spacing: 1px;
    margin:5px 0 10px 0;
} */
.message-container p{
    font-size: .8em;
    font-weight: 500;
}
#api-link{
    color: #3cc64f;
}
.contact-container{
    width: 60%;
    height: auto;
    margin: 10px 20% 30px 20%;
    display: flex;
    font-family: "fredoka",sans-serif;
}
.contact-links{
    width: 100%;
    padding: 10px;
}
.contact-links-title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #151416;
    font-weight: 550;
}
.contact-links-icons ul{
    width: 100%;
     display: flex;
    justify-content: space-around;
    margin-top: 50px; 
    margin-bottom: 10px;
}
.contact-links-icons ul a {
 text-decoration: none;
  color: rgb(61, 61, 61);
}
.contact-links-icons li{
  
    color: rgb(49, 49, 49);
 font-size: 1.3em;
 font-weight: 600;

}
.contact-links p{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}
.contact-form{
    width: 60%;
    height: auto;
    background-color: rgb(231, 232, 232);
    padding-top: 20px;
    border-radius: 10px;
    margin: auto;
}
.contact-input{
    width: 60%;
    height: 30px;
    margin: 50px 20% 0 20%;
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    outline: none;
}
.contact-form textarea{
    height: 100px;
    padding-top:20px;
    font-size: 1.2em;
}
.submit-btn{
     width: 30%;
     height: 35px;
     border-radius: 10px;
     border: none;
     font-size: 1.2em;
     font-weight: 500;
     margin: 30px 35% 30px 35%;
     transition: 0.2s;
     cursor: pointer;

}
.submit-btn:hover{
    color: #fff;
    background-color: #6E07F3;
}
.arrowicon{
    margin-left: 10px;
}
/* resposive design */
@media (max-width:1250px){
.contact-container{
    width: 60%;
    margin:20px 20% 30px 20% ;
}   
.contact-container{
    display: block;
}
.contact-links{
    width: 100%;
}
.contact-form{
    width: 100%;
}
.contact-links-icons ul{
    padding-left: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-links-icons li{
    margin-left: 0; 
    width: 20%;
}
}

